/*
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografia
4. Visuales
5. Otros
*/


:root {
    /*colores*/
    --light-red: #ff004d;
    --dark-red: #9d0b28;
    --redned-black: #33030d;
    --black-color: #2f1b41;
    --ligth-grey: #46466e;
    --redned-grey: #84577c;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}


header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-width: 20rem;
    height: 32.25rem;
    background: linear-gradient(207.8deg, #9d0b28 16.9%, #2f1b41 100%);
}

header img {
    width: 2rem;
    height: 2rem;
    margin-top: 0.3rem;
    align-self: center;
    justify-items: flex-start;
}

.header--title-container {
    width: 90%;
    min width: 14.25rem;
    max-width: 56.25rem;
    height: 30%;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    color: whitesmoke;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}

.header--title-container p {
    margin-top: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    color:darkgrey;
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 12.5rem);
    width: 25rem;
    height: 2rem;
    top: 30rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: aliceblue;
    /* Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--redned-black);
}

.header--button span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-left: 22%;
    background-image: url('../assets/icons/down-arrow-svgrepo-com.svg');
}

main {
    width: 100%;
    height: auto;
    background: linear-gradient(3600deg,#B3B6B5 5%, #eeeeee 100%);
    /*background-color:lavender;*/
}

.main_plans_container {
    width: 100%;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.main_plans_container__title {
    width: 90%;
    min-width: 18rem;
    max-width: 56rem;
    margin: 0 auto;
}

.main_plans_container .background_img {
    width: 12.5rem;
    height: 12.5rem;
    margin: 1rem auto;
    background-image: url(https://i.pinimg.com/564x/c0/bd/9a/c0bd9ae5d2e6c575a8e3e4174f7857de.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.3rem;
}

.main_plans_container h2 {
    margin: 1.9rem auto;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--redned-black)
}

.main_plans_container p {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--ligth-grey);
}

.main-table__container {
    width: 70%;
    min-width: 14.5rem;
    height: 100%;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-table__container .chart-title {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: #9d0b28;
}

.main-courses-chart {
    width: 100%;
    min-width: 12rem;
    margin: 0 auto;
}

.main-courses-chart table {
    width: 100%;
}

.main-courses-chart td {
    width: 33%;
    height: auto;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: white;
    line-height: 1.9rem;
    color:#B3B6B5;
    padding: 0.6rem;
}

.main-courses-chart .table--coin-side {
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #B3B6B5;
}

.main-courses-chart .table__top-left {
    border-radius: 1rem 0 0 0;
}

.main-courses-chart .table__top-right {
    border-radius: 0 1rem 0 0;
}

.main-courses-chart .table__bottom-left {
    border-radius: 0 0 0 1rem;
}

.main-courses-chart .table__bottom-right {
    border-radius: 0 0 1rem 0;
}

.usd-icon span {
    width: 1rem;
    height: 1rem;
    display: inline-flex;
    background-image: url('../assets/icons/usd.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

.btc-icon span {
    width: 1rem;
    height: 1rem;
    display: inline-flex;
    background-image: url('../assets/icons/btc.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

.main-table__container .actualization-date {
    width: 50%;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: var(--dark-red);
    border-radius: 1rem;
    justify-content: center;
    align-content: center;
}

.actualization-date p {
    font-size: 1.3rem;
    font-weight: 700;
    color:#B3B6B5;
    margin: auto;
    padding: 0.4rem;
}

.actualization-date b {
    color: black;
}

.main-formation__section {
    background-color: #2f1b41;
    width: 100%;
    height: auto;
    color:crimson;
    padding: 1rem;
}

.main-formation__section h2 {
    font-size: 2rem;
    text-align: center;
}

.main-formation__container div {
    width: 90%;
    margin: 1rem auto;
    border-radius: 1rem;
    background: linear-gradient(350deg,#2f1b41 20%, #46466e 100%);
    padding: 1rem;
}

.main-formation__container h3 {
    color: #eeeeee;
    font-size: 1.5rem;
    font-weight: 700;
}

.main-formation__container p {
    color: #B3B6B5;
    margin: 1rem;
    line-height: 0.5rem;
}

.main-formation__container table {
    color: #B3B6B5;
    margin: 1rem;
}