/*
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografia
4. Visuales
5. Otros
*/


:root {
    /*colores*/
    --light-red: #ff004d;
    --dark-red: #9d0b28;
    --redned-black: #33030d;
    --black-color: #2f1b41;
    --ligth-grey: #46466e;
    --redned-grey: #84577c;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}


header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-width: 20rem;
    height: 32.25rem;
    background: linear-gradient(207.8deg, #9d0b28 16.9%, #2f1b41 100%);
}

header img {
    width: 2rem;
    height: 2rem;
    margin-top: 0.3rem;
    align-self: center;
    justify-items: flex-start;
}

.header--title-container {
    width: 90%;
    min width: 14.25rem;
    max-width: 56.25rem;
    height: 30%;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    color: whitesmoke;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}

.header--title-container p {
    margin-top: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    color:darkgrey;
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 12.5rem);
    width: 25rem;
    height: 2rem;
    top: 30rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: aliceblue;
    /* Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--redned-black);
}

.header--button span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-left: 22%;
    background-image: url('../assets/icons/down-arrow-svgrepo-com.svg');
}

main {
    width: 100%;
    height: auto;
    background-color:lavender;
}

.main_exchange_container {
    width: 100%;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.main_exchange_container__title {
    width: 90%;
    min-width: 18rem;
    max-width: 56rem;
    margin: 0 auto;
}

.main_exchange_container .background_img {
    width: 12.5rem;
    height: 12.5rem;
    margin: 1rem auto;
    background-image: url(https://i.pinimg.com/564x/c0/bd/9a/c0bd9ae5d2e6c575a8e3e4174f7857de.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.3rem;
}

.main_exchange_container h2 {
    margin: 1.9rem auto;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--redned-black)
}

.main_exchange_container p {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--ligth-grey);
}

